
 @import 'mixin.scss';
.main{
	header {
		@include backgroundType('../images/cao.jpg');
		overflow: hidden;
		padding-top: 27px;
		padding-left: 5px;
		@include borderType(15px);
		.logo {
			@include area(100px, 70px);			
			@include floatType(left);
			@include backgroundType('../images/header_icon.png');
		}
		ul {
			padding-top: 22px;
			padding-left: 230px;
			@include blockLeft;
			li {
				@include floatType(left);
				padding-right: 80px;
				p {
					font-size: 20px;
					color: #fff;
				}
			}
		}
		.headInput {
			background-color: #fff;
			float: left;
			padding: 5px 5px 5px 15px;
			margin-top: 21px;
			@include borderType(50px);
			input {
				float: left;
				border: none;
    			margin-top: 2px;
				color: #ddd;
				float: left;
			}
			a {
				margin-top: 2px;
				@include area(18px, 18px);
				@include floatType(right);
				@include borderType(50%);
				@include backgroundType('../images/button.png');
				
			}
		}
	}
	.content {
		.titleIcon {
			overflow: hidden;
    		margin: 0 auto;
			text-align: center;
			ul {
				padding-top: 24px;
				li {
					display: inline-block;
					padding-left: 20px;
					padding-right: 20px;
					&.active {
						border: 1px solid;
						background-color: #d99;
					}
					p {
						font-size: 20px;
						line-height: 50px;
					}
				}
			}
		}
		.list-box {
			padding-top: 20px;
			.list {
				overflow: hidden;
				color: #999;
				&.test-show {
					display: block;
				}
				&:nth-child(2) {
					ul {
						li {
							background-color: #d99;							
						}
					}
				}
				ul {
					li {
						float: left;
						width: 307px;
						border: 1px solid;
						background-color: #fff;
						@include borderType(6px);
						box-sizing: border-box;
						margin-left:6px;										
						margin-right: 6px;		
						a {
							display: block;
							font-size: 18px;
							padding-top: 7px;
							span {
								padding-left: 10px;
							}
							img{
								width: 100%;
								padding-top: 5px;
							}
						}
						p {
							font-size: 15px;
							line-height: 35px;
							padding-left: 13px;
							padding-right: 5px;						
							&.price {
								text-align: right;
							}
							&.visit {
								font-size: 13px;
								text-align: right;
							}
							.add {
								input {
									margin-right: 5px;
								}
							}
							&.footerP {
								border-top: 1px solid;
								@include borderType(5px);
								background-color: #ddd;
								text-align: center;
							}
						}
					}
				}
			}
		}
	}
}